<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>메인 폼</title>
    <link rel="stylesheet" href="/global.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body style="margin:0;padding:0;">

<div class="main_menu_wrap">

    <a href="/cuisine" class="btn main_btn">사용자</a>
    <a href="/manager" class="btn main_btn">관리자</a>
    <a href="/register" class="btn main_btn">사원등록</a>
    <a href="/" class="btn main_btn">종료</a>
    
</div>

</body>
</html>
