<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <title>식권 발매 프로그램</title>
    <link rel="stylesheet" href="/global.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div class="manage_wrap">

    <!--manage-->
    <div class="manage_popup hidden">
        <div>
            <button id="register_menu_btn">메뉴 등록</button>
            <button id="manage_menu_btn">메뉴 관리</button>
            <button id="payment_check_btn">결제 조회</button>
            <button id="chart_btn">종류별 차트</button>
            <button id="cls_btn">종 료</button>
        </div>
        <div>
            <img src="/img/main.jpg" alt="manage image">
        </div>
    </div>

    <div class="film hidden"></div>

    <!--register menu-->
    <form class="register_menu_popup hidden">

        <input type="hidden" value="0" name="mealNo" id="mealNo">

        <label for="cuisine">종류</label>
        <select name="cuisine" id="cuisine">
            <option value="1">한식</option>
            <option value="2">중식</option>
            <option value="3">일식</option>
            <option value="4">양식</option>
        </select>

        <div>*메뉴명</div>
        <input type="text" name="mealName" id="mealName">

        <label>가격</label>
        <select name="price" id="price">
            <option value="">선택</option>
        </select>


        <label>조리가능수량</label>
        <select name="maxCount" id="maxCount">
            <option value="">선택</option>
        </select>

        <button type="submit">등록</button>
        <button class="cls_popup_btn" type="button">닫기</button>
    </form>

    <!--manage menu-->
    <div class="manage_menu_popup ">
        <div class="manage_menu_btn">
            <label for="search_cuisine">종류: </label>
            <select name="종류" id="search_cuisine">
                <option value="1">한식</option>
                <option value="2">중식</option>
                <option value="3">일식</option>
                <option value="4">양식</option>
            </select>
            <button id="cuisine_search_btn">검색</button>
            <button id="menu_edit_btn">수정</button>
            <button id="menu_delete_btn">삭제</button>
            <button id="todayMeal_btn">오늘의 메뉴 선정</button>
            <button class="cls_popup_btn" type="button">닫기</button>
        </div>
        <form action="" class="manage_menu_form">
            <table class="meal_table">
                <thead>
                <tr>
                    <th><input type="checkbox" id="check_all"></th>
                    <th>menuName</th>
                    <th>price</th>
                    <th>maxCount</th>
                    <th>todayMeal</th>
                </tr>
                </thead>

                <tbody id="meal_list">
                </tbody>
            </table>
        </form>
    </div>

    <!--payment check-->
    <div class="payment_check_popup hidden">

    </div>

    <!--chart-->
    <div class="chart_popup hidden">

    </div>
</div>

<script>
    const priceSelect = document.getElementById("price");

    for (let price = 1000; price <= 12000; price += 500) {
        const option = document.createElement("option");
        option.value = price;
        option.textContent = price.toLocaleString();
        priceSelect.appendChild(option);
    }

    const maxCountSelect = document.getElementById("maxCount");
    for (let maxCount = 0; maxCount <= 50; maxCount++) {
        const option = document.createElement("option");
        option.value = maxCount;
        option.textContent = maxCount;
        maxCountSelect.appendChild(option);
    }

</script>

<script>

    function renderMeals(meals) {
        let html = "";

        meals.forEach(m => {
            html += `
                <tr>
                    <td>
                    <input type="checkbox"
                                   class="meal-check"
                                   data-mealno="${m.mealNo}"
                                   data-cuisineno="${m.cuisineNo}"
                                   data-mealname="${m.mealName}"
                                   data-price="${m.price}"
                                   data-maxcount="${m.maxCount}">
                    </td>
                    <td>${m.mealName}</td>
                    <td>${m.price.toLocaleString()}</td>
                    <td>${m.maxCount}</td>
                    <td>${m.todayMeal ? 'Y' : 'N'}</td>
                </tr>
            `;
        });
        document.getElementById("meal_list").innerHTML = html;
    }

    function loadMeals(cuisine) {
        $.ajax({
            url: "/getMeals",
            type: "GET",
            data: {cuisine: cuisine},
            success: function (meals) {
                renderMeals(meals);
            },
            error: function () {
                alert("서버 오류");
            }
        });
    }

    loadMeals(0);

</script>

<script>

    let selectedIds = [];
    let selectedMeal = {};

    $("#cls_btn").click(function () {
        window.location.href = "/";
    })

    $(".cls_popup_btn").click(function () {
        $(".manage_wrap > *").addClass("hidden");
        $(".manage_popup").removeClass("hidden");
    });
    $("#register_menu_btn").click(function () {
        $(".manage_wrap > *").addClass("hidden");
        $(".register_menu_popup").removeClass("hidden");
    })
    $("#manage_menu_btn").click(function () {
        $(".manage_wrap > *").addClass("hidden");
        $(".manage_menu_popup").removeClass("hidden");
    })
    $("#payment_check_btn").click(function () {
        $(".manage_wrap > *").addClass("hidden");
        $(".payment_check_popup").removeClass("hidden");
    })
    $("#chart_btn").click(function () {
        $(".manage_wrap > *").addClass("hidden");
        $(".chart_popup").removeClass("hidden");
    })

    // 메뉴 등록 / 수정
    $(".register_menu_popup").submit(function (e) {

        e.preventDefault();
        if ($("#mealName").val().trim() === "") {
            alert("메뉴명을 입력해주세요.");
            return;
        }

        $.ajax({
            url: "/registerMenu",
            type: "POST",
            data: {
                mealNo: $("#mealNo").val(),
                cuisine: $("#cuisine").val(),
                mealName: $("#mealName").val(),
                price: $("#price").val(),
                maxCount: $("#maxCount").val(),
            },
            success: function (result) {
                if (result === true) {
                    if($("#mealNo").val() === 0){
                        alert("메뉴가 정상적으로 등록되었습니다.");
                    }else {
                        alert("메뉴가 정상적으로 수정되었습니다.");
                        $(".register_menu_popup").addClass("hidden");
                        $("#mealNo").val(0);
                        $("input.meal-check[data-mealno='" + $("#mealNo").val() + "']").prop("checked", false);
                    }

                } else {
                    if($("#mealNo").val() === 0){
                        alert("메뉴가 정상적으로 등록되지 않았습니다.");
                    }else {
                        alert("메뉴가 정상적으로 수정되지 않았습니다.");
                    }
                }
                $(".register_menu_popup")[0].reset();
            },
            error: function () {
                alert("서버 오류");
                $(".register_menu_popup")[0].reset();
            }
        });

        loadMeals(0);
    });



    $(document).on("change", "input.meal-check", function () {

        const id = $(this).data("mealno");

        if (this.checked) {
            selectedMeal = {
                mealNo: id,
                cuisineNo: $(this).data("cuisineno"),
                mealName: $(this).data("mealname"),
                price: $(this).data("price"),
                maxCount: $(this).data("maxcount"),
                todayMeal: 0
            }
            console.log(selectedMeal);
            selectedIds.push(id);
        } else {
            selectedIds = selectedIds.filter(item => item !== id);
        }
        console.log($(this).data("mealno"));
    });


    $("#check_all").on("change", function () {
        const checked = $(this).is(":checked");
        $("#meal_list input[type='checkbox']").prop("checked", checked);
    });

    $("#cuisine_search_btn").click(function () {

        let cuisine_id = $("#search_cuisine").val();
        loadMeals(cuisine_id);
    })

    $("#menu_edit_btn").click(function () {

        if(selectedIds.length === 0) {
            alert("수정할 메뉴를 선택해주세요.")
            return;
        } else if(selectedIds.length !== 1) {
            alert("하나씩 수정 가능합니다.")
            return;
        }

        $(".register_menu_popup").removeClass("hidden");

        $("#mealNo").val(selectedMeal.mealNo);
        $("#cuisine").val(selectedMeal.cuisineNo);
        $("#mealName").val(selectedMeal.mealName);
        $("#price").val(selectedMeal.price);
        $("#maxCount").val(selectedMeal.maxCount);
        // $.ajax({
        //     url: "/editMeal",
        //     type: "POST",
        //     data: {
        //         meal: selectedMeal
        //     },
        //     success: function (result) {
        //         if (result === true) {
        //             alert("메뉴가 정상적으로 수정되었습니다.");
        //             loadMeals(0);
        //         } else {
        //
        //         }
        //     },
        //     error: function () {
        //         alert("서버 오류");
        //         $("#verify_form")[0].reset();
        //     }
        // });
    })

    $("#menu_delete_btn").click(function () {

        if(selectedIds.length <= 0) {
            alert("삭제할 메뉴를 선택해주세요.")
            return;
        }

        $.ajax({
            url: "/deleteMeal",
            type: "DELETE",
            data: {
                mealNos: selectedIds
            },
            success: function (result) {
                if (result === true) {
                    alert("삭제가 완료되었습니다.");
                    loadMeals(0);
                } else {
                    alert("삭제를 실패했습니다.");
                }
            },
            error: function () {
                alert("서버 오류");
            }
        });
    })

    $(".manage_menu_btn").click(function () {

    })


    $(".payment_check_btn").click(function () {

    })

    $(".chart_btn").click(function () {

    })
</script>
</body>
</html>
